extends layout
include _includes/sharedHTMLfunctions
block scripts
  script(src='/build/runtime.a66f828dca56eeb90e02.js')
  script(src='/build/polyfills.7fb637d055581aa28d51.js')
  script(src='/build/main.62137da8478eb3dee878.js')
block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
  .row
    .col-md-8
      .error= message
      app-home-list Loading...
    //-
      each location in locations
        .card
          .card-block
            h4
              a(href=`/location/${location._id}`)= location.name
              small &nbsp;
                +outputRating(location.rating)
              span.badge.badge.pill.badge.default.float-right= location.distance
            p.address= location.address
            p.facilities
              each facility in location.facilities
                span.badge.badge-warning= facility
    .col-md-4
      p.lead= sidebar